html {
	/*overflow: hidden;*/
}
body {
	margin: 0;
}
canvas {
	border: 1px solid black;
}
button {
	margin: 0 0 10px 10px;
}
p {
	margin: 0 0 10px 10px;
}
span {
	margin: 0 0 10px 10px;
}